/* .leftside4 tr { height:60px;} */
/* .leftside2 tr { height:80px;} */
/* .rightside8 tr { height:45px;} */
/* .rightside4 tr { height:60px;} */
/* .rightside2 tr { height:80px;} */

/* .leftside8 tr { height:45px;} */

<table>
<tr>
	<td>{{south.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.1}}</td>
</tr>

<tr>
	<td>{{south.16}}</td>
	<td>{{south.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.1}}</td>
	<td>{{east.16}}</td>
</tr>

<tr>
	<td>{{south.8}}</td>
	<td></td>
	<td>{{south.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.1}}</td>
	<td></td>
	<td>{{east.8}}</td>
</tr>

<tr>
	<td>{{south.9}}</td>
	<td>{{south.8}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.8}}</td>
	<td>{{east.9}}</td>
</tr>

<tr>
	<td>{{south.5}}</td>
	<td></td>
	<td></td>
	<td>{{south.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.1}}</td>
	<td></td>
	<td></td>
	<td>{{east.5}}</td>
</tr>

<tr>
	<td>{{south.12}}</td>
	<td>{{south.5}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.5}}</td>
	<td>{{east.12}}</td>
</tr>

<tr>
	<td>{{south.4}}</td>
	<td></td>
	<td>{{south.4}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.4}}</td>
	<td></td>
	<td>{{east.4}}</td>
</tr>

<tr>
	<td>{{south.13}}</td>
	<td>{{south.4}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.4}}</td>
	<td>{{east.13}}</td>
</tr>

<tr>
	<td>{{south.6}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{south.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.6}}</td>
</tr>

<tr>
	<td>{{south.11}}</td>
	<td>{{south.6}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.6}}</td>
	<td>{{east.11}}</td>
</tr>

<tr>
	<td>{{south.3}}</td>
	<td></td>
	<td>{{south.3}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.3}}</td>
	<td></td>
	<td>{{east.3}}</td>
</tr>

<tr>
	<td>{{south.14}}</td>
	<td>{{south.3}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.3}}</td>
	<td>{{east.14}}</td>
</tr>

<tr>
	<td>{{south.7}}</td>
	<td></td>
	<td></td>
	<td>{{south.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.2}}</td>
	<td></td>
	<td></td>
	<td>{{east.7}}</td>
</tr>

<tr>
	<td>{{south.10}}</td>
	<td>{{south.7}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.7}}</td>
	<td>{{east.10}}</td>
</tr>

<tr>
	<td>{{south.2}}</td>
	<td></td>
	<td>{{south.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.2}}</td>
	<td></td>
	<td>{{east.2}}</td>
</tr>

<tr>
	<td>{{south.15}}</td>
	<td>{{south.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{east.2}}</td>
	<td>{{east.15}}</td>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{south.1}}</td>
	<td>Winner</td>
	<td>{{midwest.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>{{west.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.1}}</td>
</tr>

<tr>
	<td>{{west.16}}</td>
	<td>{{west.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.1}}</td>
	<td>{{midwest.16}}</td>
</tr>

<tr>
	<td>{{west.8}}</td>
	<td></td>
	<td>{{west.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.1}}</td>
	<td></td>
	<td>{{midwest.8}}</td>
</tr>

<tr>
	<td>{{west.9}}</td>
	<td>{{west.8}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.8}}</td>
	<td>{{midwest.9}}</td>
</tr>

<tr>
	<td>{{west.5}}</td>
	<td></td>
	<td></td>
	<td>{{west.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.1}}</td>
	<td></td>
	<td></td>
	<td>{{midwest.5}}</td>
</tr>

<tr>
	<td>{{west.12}}</td>
	<td>{{west.5}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.5}}</td>
	<td>{{midwest.12}}</td>
</tr>

<tr>
	<td>{{west.4}}</td>
	<td></td>
	<td>{{west.4}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.4}}</td>
	<td></td>
	<td>{{midwest.4}}</td>
</tr>

<tr>
	<td>{{west.13}}</td>
	<td>{{west.4}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.4}}</td>
	<td>{{midwest.13}}</td>
</tr>

<tr>
	<td>{{west.6}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{west.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.1}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.6}}</td>
</tr>

<tr>
	<td>{{west.11}}</td>
	<td>{{west.6}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.6}}</td>
	<td>{{midwest.11}}</td>
</tr>

<tr>
	<td>{{west.3}}</td>
	<td></td>
	<td>{{west.3}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.3}}</td>
	<td></td>
	<td>{{midwest.3}}</td>
</tr>

<tr>
	<td>{{west.14}}</td>
	<td>{{west.3}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.3}}</td>
	<td>{{midwest.14}}</td>
</tr>

<tr>
	<td>{{west.7}}</td>
	<td></td>
	<td></td>
	<td>{{west.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.2}}</td>
	<td></td>
	<td></td>
	<td>{{midwest.7}}</td>
</tr>

<tr>
	<td>{{west.10}}</td>
	<td>{{west.7}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.7}}</td>
	<td>{{midwest.10}}</td>
</tr>

<tr>
	<td>{{west.2}}</td>
	<td></td>
	<td>{{west.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.2}}</td>
	<td></td>
	<td>{{midwest.2}}</td>
</tr>

<tr>
	<td>{{west.15}}</td>
	<td>{{west.2}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{midwest.2}}</td>
	<td>{{midwest.15}}</td>
</tr>
</table>
